* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3efef;
    color: #111111; /* Установить цвет текста по умолчанию */
    height: 100%;
}

.wallpaper {
    position: relative;
    width: 100vw; /* 100% ширины вьюпорта */
    height: 100vh; /* Установить высоту на весь экран */
    overflow: hidden; /* Прятать часть изображения, если оно больше экрана */
}

.wallpaper img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезка изображения для заполнения контейнера */
    transform: translate(-50%, -50%); /* Центрирование изображения */
}

.flexbox {
    display: flex;
    flex-direction: column;
    height:  100%;
}

.flexbox .content {
    flex: 1;
}

nav {
    background-color: rgba(87, 152, 244, 0.9); /* Użycie rgba dla delikatnej przezroczystości */
    width: 100%;
    padding: 15px 0; /* Zwiększenie wewnętrznego odstępu dla lepszej przestrzeni */
    position: relative;
    z-index: 10; /* Aby nawigacja była na wierzchu */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Dodanie cienia dla lepszego efektu */
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.header {
    margin-top: 20px;
    text-align: center;
    z-index: 10; /* Чтобы заголовок был поверх изображения */
    position: relative; /* Чтобы использовать z-index */
}

.header h1 {
    font-size: 36px;
}

.header p {
    font-size: 18px;
}

.content {
    padding: 20px;
    text-align: center;
}

.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.gallery-image {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(50, 86, 229, 0.2);
}

.footer {
    background-color: rgba(0, 0, 0, 0.8); /* Увеличить непрозрачность для лучшей видимости */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.history-title {
    margin-bottom: 20px; /* Ustawia dolny margines dla nagłówka */
}

.history-text {
    margin-top: 10px; /* Ustawia górny margines dla akapitu, opcjonalne */
}
.horizontal-image {
    width: 80%; /* Ustawia szerokość na 100% kontenera */
    height: auto; /* Zachowuje proporcje obrazu */
    margin: 20px 0; /* Marginesy górny i dolny dla przestrzeni */
    border-radius: 8px; /* Opcjonalne, dla zaokrąglonych rogów */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcjonalne, dla efektu cienia */
}

.table-container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie tabeli */
    margin: 20px; /* Margines dla tabeli */
}
.movie-poster {
    width: 80px; /* Szerokość obrazka */
    height: auto; /* Zachowanie proporcji */
    border-radius: 5px; /* Zaokrąglone rogi */
    object-fit: cover; /* Dopasowanie obrazu */
}
table {
    border-collapse: collapse; /* Usunięcie podwójnych granic */
    width: 80%; /* Szerokość tabeli */
    background-color: #fff; /* Tło tabeli */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Cień dla tabeli */
    border: 1px solid #ccc; /* Granice tabeli */
}

th, td {
    border: 1px solid #ccc; /* Granice dla komórek */
    padding: 12px; /* Wewnętrzne odstępy */
    text-align: left; /* Wyrównanie tekstu */
}

th {
    background-color: #f2f2f2; /* Kolor tła nagłówków */
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
.news-articles {
    display: flex;
    flex-direction: column; /* Чтобы статьи располагались одна под другой */
}

.news-article {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 15px;
    display: flex;
    flex-direction: column; /* Изменено на column, чтобы текст находился под изображением */
    align-items: center; /* Центрирование содержимого */
}

.news-article img {
    width: 150px; /* Фиксированная ширина для изображений */
    height: auto; /* Высота будет пропорциональна ширине */
    border-radius: 8px;
    margin-bottom: 10px; /* Отступ между изображением и текстом */
}

.news-content {
    text-align: center; /* Центрирование текста */
}

.news-content h2 {
    margin: 10px 0; /* Отступ сверху и снизу для заголовка */
}

.news-content p {
    margin: 0; /* Убираем отступы для параграфов */
}
section {
    margin-bottom: 30px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.header {
    margin-top: 20px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    color: #333;
}

.content {
    padding: 20px;
    text-align: center;
}

.recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.film {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 15px;
    width: 80%; /* Ограничиваем ширину статьи */
    text-align: left; /* Текст выравнивается по левому краю */
}
.test-block {
    width: 200px;
    border: 2px solid rgba(71, 236, 30, 1);
    background: rgba(71, 236, 30, 0.7);
    text-align: center;
    color: #000;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
